extends layouts/main.pug
include mixins/videoBlock
block content
    .search-header 
        h3 Searching for #{searchingBy} ...
    .search-videos
        .search-videos_wrap
            if searchid === "user"
                if videos.length === 0
                    h5 사용자가 없습니다.    
                each user in videos
                    .userBlock
                        a(href=routes.userDetail(user.id))
                            img.u-avatar(src=user.avatarUrl)
                            span.userBlock_name= user.name
                            span.userBlock_email= user.email
        
            if videos.length === 0
                h5 No Video Found
            if searchid === "video"
                each video in videos
                    +videoBlock({
                        title:video.title,
                        views:video.views,
                        videoFile:video.fileUrl,
                        id:video.id
                    })