mixin videoComment(video={})
    d.videoComments
        a(href=routes.userDetail(video.id))
            img.videoComment_avatar(src= (!video.avatarUrl) ? "" : video.avatarUrl.indexOf("http")!==-1 ? `${video.avatarUrl}` : `/${video.avatarUrl}`)
            h5.videoComment_creator=video.creator  
            h6.videoComment_date=video.date 
        h4.videoComment_text=video.text

        if `${loggedUser._id}` === `${video.id}`
            a.videoComment_delete(href=`${routes.videoCommentDelete(video.comment_id,video.video_id)}`) 
                button.videoComment_delete-button Delete
        
         
          
        